name: LegittScra-Secure-Automation

on:
  schedule:
    # Runs every 3 hours (8 times a day)
    - cron: '0 */3 * * *'
  workflow_dispatch: # Allows manual "Run workflow" button

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        env:
          # Pulls the secrets you saved in Settings
          TARGET_DOMAINS: ${{ secrets.TARGET_DOMAINS }}
          SEARCH_BASE_QUERY: ${{ secrets.SEARCH_BASE_QUERY }}
        run: python my_scraper.py

      - name: Commit and Push Data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add results.csv
          git commit -m "Auto-sync results: $(date)" || exit 0
          git push
