name: LegittScra-Ultimate-Harvester

on:
  workflow_dispatch:
    inputs:
      search_engine:
        description: 'Engine'
        type: choice
        options: [google, bing, duckduckgo]
        default: 'google'
      search_depth:
        description: 'Pages to Harvest'
        type: choice
        options: ['1', '5', '10']
        default: '10'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install requests faker

      - name: Install OpenVPN
        run: sudo apt-get update && sudo apt-get install -y openvpn

      - name: Run Scraper
        env:
          PYTHONUNBUFFERED: "1"
          ENGINE: ${{ github.event.inputs.search_engine }}
          DEPTH: ${{ github.event.inputs.search_depth }}
        run: python my_scraper.py
      
      - name: Commit and Push Data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add harvest_*.txt || echo "No files to add"
          git commit -m "Bulk harvest sync: $(date)" || echo "No changes"
          git push
