name: LegittScra-Master-Harvester

on:
  workflow_dispatch:
    inputs:
      search_engine:
        description: 'Engine'
        type: choice
        options: [google, bing, duckduckgo]
        default: 'google'
      custom_query:
        description: 'Lead Search String'
        required: false
        default: '"CEO" "@talktalk.net"'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install scrapy requests faker
      - name: Run Master Scraper
        env:
          PYTHONUNBUFFERED: "1"
          ENGINE: ${{ github.event.inputs.search_engine }}
          UI_QUERY: ${{ github.event.inputs.custom_query }}
        run: python my_scraper.py
      - name: Commit Leads
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add final_leads_*.csv
          git commit -m "New Leads: $(date)" || echo "No leads found"
          git push
